*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
.nav{
    box-shadow: 3px 3px 10px rgb(188, 187, 187);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav1{
    height: 80px;
     /* border: 2px solid black; */
    width: 100%;
    background-color: #f4d8ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(244, 204, 158);
}
.nav1 img{
    height: 20px;
    display: flex;
    width: auto;
    
}
.one{
    width: auto;
    padding: 15px;
    background: linear-gradient(to right, rgb(228, 129, 36), rgb(239, 223, 191));
    margin-left: 20px;
    border-radius: 5px;
}
.searchbox{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border-color: orange;
    /* border: 2px solid black; */
    margin-right: 20px;
    padding-left: 10px;
}
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.icon{
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.nav2{
    height: 40px;
     /* border: 2px solid black; */
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.nav-links{
    
    display: flex;
    list-style: none;
    font-size: 15px;
    justify-content: space-evenly;
    width: 90%; /* spread links nicely */
    padding: 0;
    margin: 0;
}
.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color:  orange;
}
/* .content{ */
    /* border: 2px solid black; */
    /* width: 100%;
    height: auto;
    background-color: #f4d8ba;
}  */

.section1{
    margin-left: 5px;
    /* background-color: #f4d8ba; */
    
}
.heading{
    margin-left: 25px;
    /* background-color: #f4d8ba; */
    margin-top: 15px;
    font-size: 20px;
}
.heading:hover{
    color: orange;
    cursor: pointer;
}
.menu-buttons{
    /* border: 2px solid black; */
    height: 40px;
    /* background-color: #f4d8ba; */
    display: flex;
    /* justify-content: space-evenly; */
    gap:25px;
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
}
.menu{
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border-radius: 5px;
    color: rgb(255, 157, 0);
    border-color: rgb(255, 157, 0);
}
.menu:hover{
    background-color: orange;
    color: white;
    cursor: pointer;
}
.cake-gallery{
    /* border: 2px solid black; */
    /* height: auto; */
    background-color: #f4d8ba;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 330px);
    gap: 20px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.cake-item{
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: white;
    /* text-align: center; */
    /* width:40px; */

}
.cake-item img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.text{
    margin-top: 5px;
    color: gray;
    justify-items: start;

}
.add-to-cart{
    width: 328px;
    height: 45px;
    margin-bottom: 10px;
    background-color: rgb(255, 132, 0);
    color: white;
    border: none;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
}
/* <!---FOOTER--> */
.footer{
    background-color: rgb(240, 245, 249);
    display: flex;
    flex-direction: column;
}
.footer-top{
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(3, 450px);
}
.foot-section1{
    /* border: 2px solid black; */
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.foot-section1 h4{
    color:rgb(255, 132, 0);
    margin-bottom: 10px;
}

.foot-section1 ul{ 
    list-style: none;
}
.email{
    margin-top: 20px;
    width: 350px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
}

